.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modeuls/**
samples/**
dist/extension.js.map
test/**
patches/**
pnpm-lock.yaml
*.vsix
CHANGELOG.md
vite.config.ts
tsconfig.json
tsconfig.base.json
.github/**
.eslintcache
.vscode-test.mjs
eslint.config.mjs
scripts/**
test-results/**
.pnpm-store/**
.devcontainer/**
tsconfig.tsbuildinfo
packages/**/node_modules/**
packages/**/src/**
packages/**/tsconfig.json